@font-face {
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
}
.container {
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inp{
    padding-top: 2vh;
}
.cont1 {
    display: flex;
    align-items: center;
    align-items: center;
}
.cont2 {
    display: flex;
    align-items: center;
}
.cont15 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* *** */
/* меин стили */
.h {
    font-family: "Comfortaa", serif;
    font-weight: 500;
    color: white;
    border-bottom: 0.35vw solid rgb(94, 72, 147);
    text-align: center;
    width: 45vw;
    font-size: 3vw;
    padding-bottom: 3vh;
    position: relative;
}
.in {    
    color: white;
    border:  solid white;
    background-color: black;
    border-radius: 590px;
    margin-top: 2vh;
    font-size: 3vh;
    text-align: left;
    padding-top: 0.5vw;
    padding-left: 2vw;
    background: transparent;
    font-family: "Comfortaa", serif;
}
.ina {
    width: 32.5vw;
    height: 8vh;
    margin-left: 2vw;
}
.inb {
    width: 14.5vw;
    height: 8vh;
    margin-left: 2vw;
}
.inb1{
    width: 14.5vw;
    height: 8vh;
    margin-left: 0.8vw;
}
.ino {
    vertical-align: 50vh;
}
.href {
    color: white;
    font-size: 2vh;
    margin-top: 2vh;
    font-family: "Comfortaa", serif;
}
.but {    
    width: 22vw;
    height: 6vh;
    margin-top: 1vh;
    border: none;
    background-color: rgb(94, 72, 147);
    border-radius: 15px;
    color: white;
    font-size: 3vh;
    font-family: "Comfortaa", serif;
}
.xyita{
    width: 11vw;
    height: 8vh;
    margin-left: 2vw;
    font-family: "Comfortaa", serif;
}
.xyita1{
    width: 18vw;
    height: 5.5vh;
    margin-left: 0.8vw;
    padding-top: 1.5vw;
    font-family: "Comfortaa", serif;
}
