*{
    margin: 0;
    padding: 0;
}

.txt{
    margin-top: 2vw;
    display: flex;
    align-items: center;
    height: 1vw;
    width: 14vw;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.596);
    font-size: 1vw;
}
.txt1{
    display: flex;
    align-items: center;
    height: 1vw;
    width: 14vw;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.596);
    font-size: 5vw;
}
.hed {
    display: flex;
    flex-direction: row;
    background-color: rgb(119, 119, 119);
    justify-content: space-between;
    align-content: center;
    height: 5vw;
}
.cont_kurs {
    display: flex;
    flex-direction: row;
}
.logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 10vw;
    height: 10vh; 
    margin-top: 1vh;
    background-repeat: no-repeat;
    background-size: 4.5vw;
    background-image: url('/templates/png/ikon.jpg');
}
.cont_reg {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.Profl {
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 10vw;
    height: 10vh; 
    margin-top: 1vh;
    background-repeat: no-repeat;
    background-size: 4.5vw;
    background-image: url('/templates/png/Profil.png');
}
.osnova {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: flex-start;
    align-content: flex-end;
    margin-top: 15vw;
}
.textt {
    display: flex;
    justify-content: center;
}
.sprak {
    margin-top: 7vw;
}
.cnop {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}
.btn {
    margin-left: 2vh;
}
