<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/main_page.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="hed">
        <div class="cont_kurs">
            <div class="logo">
            </div>
            <h3 class="txt">Курсы</h3>
            <h3 class="txt">Курсы созданые нейросетью</h3>
        </div>
        <div class="cont_reg">
            <h3 class="txt">Вход</h3>
            <h3 class="txt"> Регистрация</h3>
            <div class="Profl">
            </div>
        </div>
    </div>
    <div class="osnova">
        <div class="textt">
            <h2 class="txt1 kursi">Курсы по програмированию</h2>
            <h2 class="txt sprak">С проктикой и ментором Евгением</h2>
        </div>
        <div class="cnop">
            <button class="btn">Готовые курсы</button>
            <button class="btn">Создать свой курс</button>
        </div>
    </div>
    <div class="zvezdi"></div>
    <div class="zvezdi1"></div>
</body>
</html>