<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reg.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/2.png') }}" alt="Logo" class="logo_img">
                    Cosmic
                </div>
                <nav>
                    <ul class="slova">
                        <div class="akk">
                            <img src="{{ url_for('static', filename='images/Profil.png') }}" alt="Profil" class="profil_img">
                            <li><a href="log.html">Войти</a></li>
                            <li><a href="register.html">Зарегистрироваться</a></li>
                            <!-- <li><a href="{{ url_for('profile') }}">Профиль</a></li> -->
                        </div>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <form action="{{ url_for('register') }}" method="POST"> 
        <div class="container form_reg">
            <h1 class="h">Регистрация</h1>
            <div class="cont">
                <div class="cont1">
                    <h3 class="place">Имя*</h3>
                    <input class="in" type="text" name="username" required>
                    <h3 class="place">Email*</h3>
                    <input class="in" type="password" name="password" required>
                    <h3 class="place">Пароль*</h3>
                    <input class="in" type="password" name="password" required>
                </div>
                <div class="cont3">
                    <a href="log.html" class="href">Уже есть аккаунт? Войти</a>
                    <br>
                    <button class="btn_reg" type="submit">Зарегистрироваться</button>
                </div>
            </div> 
        </div>
    </form>
</body>
</html>